In [1]:
# Librerías
import pandas as pd
import yfinance as yf
import numpy as np
# Parámetros
TICKER = "MELI"#"IVVPESOISHRS.MX" #"XRP-USD"
PERIOD = "4Y"
INTERVAL = "1d"

In [2]:
# Descarga
data = yf.download(TICKER, period=PERIOD, interval=INTERVAL,    auto_adjust=True)
# multicolumns droplevel
data.columns = data.columns.droplevel(1)
display(data.tail())

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open  Volume
Date
2026-01-16  2075.010010  2110.040039  2061.620117  2104.739990  546800
2026-01-20  2034.819946  2110.360107  2028.209961  2049.040039  535800
2026-01-21  2057.770020  2093.510010  2032.010010  2045.000000  942900
2026-01-22  2153.750000  2166.000000  2111.010010  2113.409912  872900
2026-01-23  2137.290039  2153.459961  2100.310059  2145.000000  467100

In [3]:
# Poner Date y CLose en nuevo df
df = data[["Close"]].copy()
display(df.tail())

Price             Close
Date
2026-01-16  2075.010010
2026-01-20  2034.819946
2026-01-21  2057.770020
2026-01-22  2153.750000
2026-01-23  2137.290039

In [4]:
# Guardar df a CSV
pd.DataFrame(df).to_csv(f"{TICKER}.csv", index=True)