### AMORTIZACIÓN GRADUAL (Frances)

In [7]:
import numpy_financial as npf
import pandas as pd

# Ejercicio 22.
# Una persona consigue un crédito por $35,000 a pagar en 8 mensualidades 
# con una tasa de interés del 12.6% anual capitalizable por mes. 
# Elaborar una tabla de amortización.

PV = 35000
r = 0.126
n = 8

RENTAS = []
INTERESES = []
AMORTIZACIÓN = []
SALDO = []

# Periodo 0
RENTAS.append(0)
INTERESES.append(0)
AMORTIZACIÓN.append(0)
SALDO.append(f'${PV:,.2f}')

saldo = PV

# Periodos 1 al 8
for mes in range(1, n+1):

    # Usando libreria numpy_financial
    pmt = npf.pmt(r/12,n,-PV)           # Renta o abono (ver como estos seran iguales)
    ipmt = npf.ipmt(r/12, mes, n, -PV)  # Intereses
    ppmt = npf.ppmt(r/12,mes, n, -PV)   # Amortización
    saldo = saldo - ppmt                # Saldo Insoluto

    pmt = f'$ {pmt:,.2f}'
    ipmt = f'$ {ipmt:,.2f}'
    ppmt = f'$ {ppmt:,.2f}'
    saldo_2 = f'$ {saldo:,.2f}' # creamos "saldo_2" porque "saldo" lo uso en la siguiente iteracion como valor numerico, entonces saldo_2 con formato ya puede ir a la lista de saldo abajo.

    RENTAS.append(pmt)
    INTERESES.append(ipmt)
    AMORTIZACIÓN.append(ppmt)
    SALDO.append(saldo_2)


Tabla_amortizacion = pd.DataFrame()

Tabla_amortizacion['RENTAS'] = RENTAS
Tabla_amortizacion['INTERESES'] = INTERESES
Tabla_amortizacion['AMORTIZACIÓN'] = AMORTIZACIÓN
Tabla_amortizacion['SALDO_INSOLUTO'] = SALDO

Tabla_amortizacion

       RENTAS INTERESES AMORTIZACIÓN SALDO_INSOLUTO
0           0         0            0     $35,000.00
1  $ 4,584.24  $ 367.50   $ 4,216.74    $ 30,783.26
2  $ 4,584.24  $ 323.22   $ 4,261.01    $ 26,522.25
3  $ 4,584.24  $ 278.48   $ 4,305.75    $ 22,216.50
4  $ 4,584.24  $ 233.27   $ 4,350.96    $ 17,865.53
5  $ 4,584.24  $ 187.59   $ 4,396.65    $ 13,468.88
6  $ 4,584.24  $ 141.42   $ 4,442.81     $ 9,026.07
7  $ 4,584.24   $ 94.77   $ 4,489.46     $ 4,536.60
8  $ 4,584.24   $ 47.63   $ 4,536.60        $ -0.00

### AMORTIZACIÓN CONSTANTE (Aleman)

In [10]:
import numpy_financial as npf
import pandas as pd

# Ejercicio 23. 
# Con un sistema de amortización constante, tasa de interés del 13.2%
# nominal mensual y plazo de 2 años, obtenga los primeros 2 pagos mensuales y 
# el último para amortizar un crédito de $96,000

PV = 96000
r = 0.132
n = 24

RENTAS = []
INTERESES = []
AMORTIZACIÓN = []
SALDO= []

RENTAS.append(0)
INTERESES.append(0)
AMORTIZACIÓN.append(0)
SALDO.append(f'${PV:,.2f}')

saldo = PV
amortizacion_constante = PV / n # Amortizacion Constante

for mes in range(1, n+1):

    ppmt = amortizacion_constante   # Amortización
    ipmt = saldo * r/12             # Intereses
    pmt = ppmt + ipmt               # Renta o abono
    saldo = saldo - ppmt            # Saldo Insoluto

    pmt = f'$ {pmt:,.2f}'
    ipmt = f'$ {ipmt:,.2f}'
    ppmt = f'$ {ppmt:,.2f}'
    saldo_2 = f'$ {saldo:,.2f}'

    RENTAS.append(pmt)
    INTERESES.append(ipmt)
    AMORTIZACIÓN.append(ppmt)
    SALDO.append(saldo_2)


Tabla_amortizacion = pd.DataFrame()

Tabla_amortizacion['RENTAS'] = RENTAS
Tabla_amortizacion['INTERESES'] = INTERESES
Tabla_amortizacion['AMORTIZACIÓN'] = AMORTIZACIÓN
Tabla_amortizacion['SALDO_INSOLUTO'] = SALDO

Tabla_amortizacion

        RENTAS   INTERESES AMORTIZACIÓN SALDO_INSOLUTO
0            0           0            0     $96,000.00
1   $ 5,056.00  $ 1,056.00   $ 4,000.00    $ 92,000.00
2   $ 5,012.00  $ 1,012.00   $ 4,000.00    $ 88,000.00
3   $ 4,968.00    $ 968.00   $ 4,000.00    $ 84,000.00
4   $ 4,924.00    $ 924.00   $ 4,000.00    $ 80,000.00
5   $ 4,880.00    $ 880.00   $ 4,000.00    $ 76,000.00
6   $ 4,836.00    $ 836.00   $ 4,000.00    $ 72,000.00
7   $ 4,792.00    $ 792.00   $ 4,000.00    $ 68,000.00
8   $ 4,748.00    $ 748.00   $ 4,000.00    $ 64,000.00
9   $ 4,704.00    $ 704.00   $ 4,000.00    $ 60,000.00
10  $ 4,660.00    $ 660.00   $ 4,000.00    $ 56,000.00
11  $ 4,616.00    $ 616.00   $ 4,000.00    $ 52,000.00
12  $ 4,572.00    $ 572.00   $ 4,000.00    $ 48,000.00
13  $ 4,528.00    $ 528.00   $ 4,000.00    $ 44,000.00
14  $ 4,484.00    $ 484.00   $ 4,000.00    $ 40,000.00
15  $ 4,440.00    $ 440.00   $ 4,000.00    $ 36,000.00
16  $ 4,396.00    $ 396.00   $ 4,000.00    $ 32,000.00
17  $ 4,352.00    $ 352.00   $ 4,000.00    $ 28,000.00
18  $ 4,308.00    $ 308.00   $ 4,000.00    $ 24,000.00
19  $ 4,264.00    $ 264.00   $ 4,000.00    $ 20,000.00
20  $ 4,220.00    $ 220.00   $ 4,000.00    $ 16,000.00
21  $ 4,176.00    $ 176.00   $ 4,000.00    $ 12,000.00
22  $ 4,132.00    $ 132.00   $ 4,000.00     $ 8,000.00
23  $ 4,088.00     $ 88.00   $ 4,000.00     $ 4,000.00
24  $ 4,044.00     $ 44.00   $ 4,000.00         $ 0.00